<!DOCTYPE html>
<html lang="en" ng-app="fst">
<head>
  <meta charset="UTF-8">
  <title>An Angular promise test</title>
  <script src="lib/angular.min.js"></script>
  <script src="app.js"></script>
  <script src="promise.factory.js"></script>
</head>
<body ng-controller="fstCtrl as vm">

  <h1>Click a button</h1>
  <button ng-click="vm.onClick(true)">Resolve true</button>
  <button ng-click="vm.onClick(false)">Resolve false</button>
  <p>Promise value: <em>{{ vm.promiseValue }}</em></p>

</body>
</html>